* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 80%;
  max-height: 100vh;
  background-color: cadetblue;
  margin: 0 auto;
}

.main {
  display: flex;
}

.list-container {
  height: 800px;
  width: 30%;
  background-color: beige;
  overflow: scroll;
}

.pokemon-container {
  width: auto;
  background: orangered;
}
